<div class="banner">
  <h1>Simple Airbnb</h1>
    <div>
      <a href="" class="btn btn-success greenbouton">Search</a>
      <a href="/flats/new" class="btn btn-primary bluebouton">Add Flat</a>
    </div>
</div>

<div class="form-container">
  <div class="formal">
    <h2>Edit a new flat</h2>
    <%= render 'form', flat: @flat %>
  </div>
</div>
